Name: {{input class='name' value=(mut (get recipe 'name'))}}
{{name}}
<br>
Ingredients: {{textarea class='ingredients' value=(mut (get recipe 'ingredients'))}}
{{ingredients}}
<br>
Directions: {{textarea class='directions' value=(mut (get recipe 'directions'))}}
{{directions}}
<br>
<button class="submit" {{action "saveForm"}}></button>
