Name: {{input class='name' value=name}}
{{name}}
<br>
Ingredients: {{textarea class='ingredients' value=ingredients}}
{{ingredients}}
<br>
Directions: {{textarea class='directions' value=directions}}
{{directions}}
<br>
<button class="submit" {{action "saveForm"}}></button>
